{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
  <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
    <a style="font-size:14px" href="/">{{ 'home.home_title' | t }}</a>

    {%- if template contains 'collection' -%}
      {%- for link in linklists['top-menu'].links -%}
        {% if link.active or link.child_active %}
          <span aria-hidden="true">&rsaquo;</span>
          <a
            style="font-size:14px"
            href="{{ link.url }}"
            {% if link.active %}
              aria-current="page"
            {% endif %}
          >
            {{ link.title }}
          </a>
        {% endif %}

        {%- if link.links != blank -%}
          {%- for child_link in link.links -%}
            {% if child_link.active or child_link.child_active %}
              <span aria-hidden="true">&rsaquo;</span>
              <a
                style="font-size:14px"
                href="{{ child_link.url }}"
                {% if child_link.active %}
                  aria-current="page"
                {% endif %}
              >
                {{ child_link.title }}
              </a>
            {% endif %}

            {%- if child_link.links != blank -%}
              {%- for grand_child in child_link.links -%}
                {% if grand_child.active or grand_child.child_active %}
                  <span aria-hidden="true">&rsaquo;</span>
                  <a
                    style="font-size:14px"
                    href="{{ grand_child.url }}"
                    {% if grand_child.active %}
                      aria-current="page"
                    {% endif %}
                  >
                    {{ grand_child.title }}
                  </a>
                {% endif %}
              {%- endfor -%}
            {% endif %}
          {%- endfor -%}
        {% endif %}
      {%- endfor -%}
    {% endif %}
  </nav>
{% endunless %}
