{{ 'card-product.css' | asset_url | stylesheet_tag }}

{%- if card_product and card_product != empty -%}
  <div class="product-collection-item"
    {% if card_product.metafields.custom.requested_product == true %}
      onclick="requestHandler()"
      id="request-form-text"
    {% endif %}
  >
    {%- if card_product.metafields.custom.requested_product != true %}
    <a
      href="{{ card_product.url}}"
      class="product-item-image-link w-inline-block"
      {% if card_product.selected_or_first_available_variant.available == false %}
        style="opacity:0.3"
      {% endif %}
    >
      <img
        src="{{ card_product.featured_media | image_url: width: 533 }}"
        alt="{{ card_product.featured_media.alt | escape }}"
        class="product-item-image"
        {% unless lazy_load == false %}
          loading="lazy"
        {% endunless %}
        width="{{ card_product.featured_media.width }}"
        height="{{ card_product.featured_media.height }}"
      >
      {%- if card_product.metafields.custom.isnew == true %}
        <div class="text-block-2">New</div>
      {% endif %}
    </a>
    <a href="{{ card_product.url}}" class="margin-top margin-small">
      <div class="text-style-4lines">{{ card_product.title }}</div>
      {%- if card_product.metafields.custom.best_before -%}
        <div>best before {{ card_product.metafields.custom.best_before }}</div>
      {%- endif -%}
    </a>
    {% else %}
    <div
      href="{{ card_product.url}}"
      class="product-item-image-link w-inline-block pointer"
      {% if card_product.selected_or_first_available_variant.available == false %}
        style="opacity:0.3"
      {% endif %}
    >
      <img
        src="{{ card_product.featured_media | image_url: width: 533 }}"
        alt="{{ card_product.featured_media.alt | escape }}"
        class="product-item-image"
        {% unless lazy_load == false %}
          loading="lazy"
        {% endunless %}
        width="{{ card_product.featured_media.width }}"
        height="{{ card_product.featured_media.height }}"
      >
      {%- if card_product.metafields.custom.isnew == true %}
        <div class="text-block-2">New</div>
      {% endif %}
    </div>

    <div href="{{ card_product.url}}" class="margin-top margin-small pointer">
      <div class="text-style-4lines">{{ card_product.title }}</div>
      {%- if card_product.metafields.custom.best_before -%}
        <div>best before {{ card_product.metafields.custom.best_before }}</div>
      {%- endif -%}
    </div>
  {% endif %}
    <div class="product-item-form w-form">
      <div class="product-bottom-wrapper">
        <div class="product-price-wrapper">
          {%- if card_product.compare_at_price %}
            <div class="product-original-price-row">
              <div class="text-display-inline">
                {{ card_product.compare_at_price | money_without_trailing_zeros }}
              </div>
            </div>
          {% endif %}

          {% comment %} Show card product when requested_product != true {% endcomment %}
          {%- if card_product.metafields.custom.requested_product != true %}
            <div class="product-price-row">
              <div class="text-product-price-number">
                {{ card_product.price | money_without_trailing_zeros }}
              </div>
            </div>
          {% endif %}
        </div>
        {% comment %} quick add to cart {% endcomment %}
        <div class="no-js-hidden" style="flex: 1">
          {%- liquid
            assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id
            assign qty_rules = false
            if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
              assign qty_rules = true
            endif
          -%}
          {%- if card_product.variants.size > 1 or qty_rules -%}
            <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
              <button
                id="{{ product_form_id }}-submit"
                type="submit"
                name="add"
                class="add-to-basket-button w-button"
                aria-haspopup="dialog"
                aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                data-product-url="{{ card_product.url }}"
              >
                {{ 'products.product.choose_options' | t }}
                {%- if horizontal_quick_add -%}
                  <span class="icon-wrap">{% render 'icon-arrow' %}</span>
                {%- endif -%}
              </button>
            </modal-opener>
            <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
              <div
                role="dialog"
                aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
                aria-modal="true"
                class="quick-add-modal__content global-settings-popup"
                tabindex="-1"
              >
                <button
                  id="ModalClose-{{ card_product.id }}"
                  type="button"
                  class="quick-add-modal__toggle"
                  aria-label="{{ 'accessibility.close' | t }}"
                >
                  {% render 'icon-close' %}
                </button>
                <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
              </div>
            </quick-add-modal>
          {%- else -%}
            <product-form>
              {%- form 'product',
                card_product,
                id: product_form_id,
                class: 'form flexcolumn',
                novalidate: 'novalidate',
                data-type: 'add-to-cart-form'
              -%}
                <input
                  type="hidden"
                  name="id"
                  value="{{ card_product.selected_or_first_available_variant.id }}"
                  disabled
                >
                 {% if card_product.selected_or_first_available_variant.available == false %}
                  <span class="sold-out">
                    {{ 'products.product.inventory_out_of_stock' | t }}
                  </span>
                {% endif %}
                <div class="sold-out-wrapper hidden sold-out">
                    <svg aria-hidden="true" focusable="false" class="icon icon-error" viewBox="0 0 13 13">
                      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
                      <circle cx="6.5" cy="6.5" r="5.5" fill="#ac1b17" stroke="#ac1b17" stroke-width="0.7"></circle>
                      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"></path>
                      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                      </path>
                    </svg>
                    <span class="sold-out-message"></span>
                  {% comment %} {{ 'products.product.inventory_out_of_stock' | t }} {% endcomment %}
                </div>
                {%- if card_product.metafields.custom.requested_product != true %}
                  <button
                    id="{{ product_form_id }}-submit"
                    type="submit"
                    name="add"
                    class="add-to-basket-button w-button"
                    aria-haspopup="dialog"
                    aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                    aria-live="polite"
                    data-sold-out-message="true"
                    {% if card_product.selected_or_first_available_variant.available == false %}
                      disabled
                    {% endif %}
                  >
                    <span>
                      {{ 'products.product.add_to_basket' | t }}
                    </span>

                    <div class="popover-add-to-basket">
                      <span>
                        {% render 'icon-checkmark' %}
                      </span>
                      <span>{{ 'products.product.added_to_basket' | t }}</span>
                    </div>
                    <div class="loading-overlay__spinner hidden">
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        class="spinner"
                        viewBox="0 0 66 66"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </div>
                  </button>
                {% else %}
                <button
                  id="{{ product_form_id }}-submit"
                  class="submit-a-product-wish w-button"
                  aria-haspopup="dialog"
                  aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                  aria-live="polite"
                  onclick="requestHandler()"
                >
                  <span>
                    {{ 'products.product.submit_a_product_wish' | t }}
                  </span>
                </button>
                {% endif %}
              {%- endform -%}
            </product-form>
          {%- endif -%}
        </div>
        {% comment %} end quick add to cart {% endcomment %}
      </div>
    </div>
  </div>

  <script>
    function requestHandler() {
      document.getElementById('request-form').classList.add("visible");
    }
  </script>

{% endif %}