{% comment %}
  Renders cart drawer

  Usage:
  {% render 'cart-drawer' %}
{% endcomment %}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<style>
  .drawer {
    visibility: hidden;
  }

  .drawer.active {
    visibility: visible;
  }

  .drawer {
    position: absolute;
    width: 397px;
    left: -280px;
    top: 30px;
    padding: 12px 0 0;
    background: #fff;
    border-radius: 10px;
    border: 0 solid #dad6d0;
    box-shadow: 0 0 3px 1px rgb(51 47 39 / 25%);
    z-index: 3;
  }

  .drawer__cart-items-wrapper {
    max-height: 446px;
    overflow-x: hidden;
    overflow-y: visible;
    padding-bottom: 5px;
  }

  .cart-drawer__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
  }

  .drawer__inner {
    position: relative;
    z-index: 4;
  }

  .cart-drawer__overlay:empty {
    display: block;
  }

  table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 100%;
  }

  table td {
    padding: 9px 5px 9px 0px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #efeeec;
    font-weight: 300;
  }

  table .edge {
    width: 15px;
    border-bottom: none !important;
  }

  table .quantity {
    padding-left: 11px;
    text-align: right;
    font-size: 15px;
  }

  table .image img {
    width: 48px;
    height: 47px;
    border: 1px solid #cbc8ab;
    max-width: none;
  }

  table .name {
    max-width: 200px;
    font-size: 16px;
    color: #5d5d5d;
  }

  table .price {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #867c75;
    padding: 11px 4px 7px 0 !important;
  }

  .product-option {
    display: flex;
  }

  .totals {
    display: flex;
    justify-content: space-between;
    padding: 19px 24px 15px;
    background-color: rgba(190, 190, 190, 0.2);
    font-weight: 300;
  }

  .totals__subtotal {
    font-size: 20px;
    color: #292929;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
  }

  .totals__subtotal-value {
    font-size: 18px;
    color: #867c75;
  }

  .cart-footer {
    padding: 17px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fefeef;
    font-size: 14px;
  }

  .cart-footer > .child {
    color: white;
    background-color: #cbc8ab;
    padding: 2px 8px 4px 31px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
  }

  .cart_button {
    background: url('assets/cart.png') 9px center no-repeat,
      linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0) 100%);
  }

  .cart_button:hover {
    background: url('assets/cart.png') 9px center no-repeat,
      linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 100%);
    background-color: #cbc8ab;
  }

  .checkout_button {
    background: url('assets/checkout-inv.png') 9px center no-repeat,
      linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0) 100%);
  }

  .checkout_button:hover {
    background: url('assets/checkout-inv.png') 9px center no-repeat,
      linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 100%);
    background-color: #cbc8ab;
  }
</style>

<cart-drawer class="drawer">
  <div id="CartDrawer" class="cart-drawer">
    <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
    <div
      class="drawer__inner"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1"
    >
      {%- if cart == empty -%}
        <div class="drawer__inner-empty">
          <div class="cart-drawer__warnings center{% if settings.cart_drawer_collection != blank %} cart-drawer__warnings--has-collection{% endif %}">
            <div class="cart-drawer__empty-content">
              <h2 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h2>
              <button
                class="drawer__close"
                type="button"
                onclick="this.closest('cart-drawer').close()"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                {% render 'icon-close' %}
              </button>
              <a href="{{ routes.all_products_collection_url }}" class="button">
                {{ 'general.continue_shopping' | t }}
              </a>

              {%- if shop.customer_accounts_enabled and customer == null -%}
                <p class="cart__login-title h3">{{ 'sections.cart.login.title' | t }}</p>
                <p class="cart__login-paragraph">
                  {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
                </p>
              {%- endif -%}
            </div>
          </div>
          {%- if settings.cart_drawer_collection != blank -%}
            <div class="cart-drawer__collection">
              {% render 'card-collection', card_collection: settings.cart_drawer_collection, columns: 1 %}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}

      <cart-drawer-items
        {% if cart == empty %}
          class=" is-empty"
        {% endif %}
      >
        <form
          action="{{ routes.cart_url }}"
          id="CartDrawer-Form"
          class="cart__contents cart-drawer__form"
          method="post"
        >
          <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
            {%- if cart != empty -%}
              <div class="drawer__cart-items-wrapper">
                <table class="cart-items" role="table">
                  <tbody role="rowgroup">
                    {%- for item in cart.items -%}
                      <tr id="CartDrawer-Item-{{ item.index | plus: 1 }}" class="cart-item" role="row">
                        <td class="edge"></td>
                        <td class="quantity" role="cell" headers="CartDrawer-ColumnProductImage">
                          {{ item.quantity }}x
                        </td>
                        <td class="image" role="cell" headers="CartDrawer-ColumnProductImage">
                          {% if item.image %}
                            {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                            {% comment %} <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true"> </a> {% endcomment %}
                            <img
                              class="cart-item__image"
                              src="{{ item.image | image_url: width: 300 }}"
                              alt="{{ item.image.alt | escape }}"
                              loading="lazy"
                              width="150"
                              height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                            >
                          {% endif %}
                        </td>

                        <td class="name" role="cell" headers="CartDrawer-ColumnProduct">
                          <a href="{{ item.url }}" class="cart-item__name h4 break">
                            {{- item.product.title | escape -}}
                          </a>

                          <div>{{ item.product.metafields.custom.pack }}</div>

                          {%- if item.product.has_only_default_variant == false
                            or item.properties.size != 0
                            or item.selling_plan_allocation != null
                          -%}
                            <dl>
                              {%- if item.product.has_only_default_variant == false -%}
                                {%- for option in item.options_with_values -%}
                                  <div class="product-option">
                                    <dt>{{ option.name }}:</dt>
                                    <dd>
                                      {{ option.value -}}
                                      {%- unless forloop.last %}, {% endunless %}
                                    </dd>
                                  </div>
                                {%- endfor -%}
                              {%- endif -%}

                              {%- for property in item.properties -%}
                                {%- assign property_first_char = property.first | slice: 0 -%}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                  <div class="product-option">
                                    <dt>{{ property.first }}:</dt>
                                    <dd>
                                      {%- if property.last contains '/uploads/' -%}
                                        <a
                                          href="{{ property.last }}"
                                          class="link"
                                          target="_blank"
                                          aria-describedby="a11y-new-window-message"
                                        >
                                          {{ property.last | split: '/' | last }}
                                        </a>
                                      {%- else -%}
                                        {{ property.last }}
                                      {%- endif -%}
                                    </dd>
                                  </div>
                                {%- endif -%}
                              {%- endfor -%}
                            </dl>

                            <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                          {%- endif -%}
                        </td>

                        <td class="price" role="cell" headers="CartDrawer-ColumnTotal">
                          <div class="loading-overlay hidden">
                            <div class="loading-overlay__spinner">
                              <svg
                                aria-hidden="true"
                                focusable="false"
                                class="spinner"
                                viewBox="0 0 66 66"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                              </svg>
                            </div>
                          </div>

                          <div class="cart-item__price-wrapper">
                            <span class="price price--end">
                              {{ item.original_line_price | money }}
                            </span>
                          </div>
                        </td>
                        <td class="edge"></td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>
            {%- endif -%}
            <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
            <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">
              {{ 'accessibility.loading' | t }}
            </p>
          </div>
          <div id="CartDrawer-CartErrors" role="alert"></div>
        </form>
      </cart-drawer-items>
      <div class="drawer__footer">
        <div class="cart-drawer__footer" {{ block.shopify_attributes }}>
          <div
            class="totals"
            role="status"
          >
            <div class="totals__subtotal">
              {{ 'sections.cart.subtotal' | t }}
              <span style="font-size: 14px;">({{ cart.items.size }} items)</span>
            </div>
            <div class="totals__subtotal-value">{{ cart.total_price | money }}</div>
          </div>
        </div>

        <!-- CTAs -->

        <div class="cart-footer">
          <a
            href="{{ routes.cart_url }}"
            class="cart_button child"
          >
            {{ 'sections.cart.review_basket' | t }}
          </a>

          <button
            type="submit"
            id="CartDrawer-Checkout"
            class="checkout_button child"
            name="checkout"
            form="CartDrawer-Form"
            {% if cart == empty %}
              disabled
            {% endif %}
          >
            {{ 'sections.cart.process_to_checkout' | t }}
          </button>
        </div>
      </div>
    </div>
  </div>
</cart-drawer>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function (event) {
      document.querySelector('#cart').submit();
    });
  });
</script>
