{{ 'featured-collection.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
  endif
-%}

<div class="padding-global">
  <div class="container-large-modified">
    <div class="padding-section-special">
      <div class="product1_component">
        <div class="margin-bottom margin-large">
          <div class="product1_heading-wrapper">
            <div class="product1_heading">
              <div class="max-width-large">
                <h2 class="title-section text-font-small-caps">{{ section.settings.title | escape }}</h2>
              </div>
            </div>
            <div class="product1_button-row hide-mobile-landscape">
              <a href="/collections/all" class="button_arrow-text">
                <div class="button_arrow-text-icon w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true"
                    role="img"
                    class="iconify iconify--ic"
                    width="100%"
                    height="100%"
                    preserveAspectRatio="xMidYMid meet"
                    viewBox="0 0 24 24"
                  >
                    <path fill="currentColor" d="M6.23 20.23L8 22l10-10L8 2L6.23 3.77L14.46 12z"></path>
                  </svg>
                </div>
                <div>Show all products</div>
              </a>
            </div>
          </div>
        </div>
        <div class="w-layout-grid product1_list">
          {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
            {% render 'card-product', card_product: product, section_id: section.id %}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 10,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
