{% style %}
  input:focus-visible {
    outline-width: 0px;
    outline-offset: 0rem;
    box-shadow: 0 0 0 0;
    border: 1px solid #717171;
  }

  .dropbtn {
    cursor: pointer;
    border: 0;
    background-color: transparent;
  }

  .dropdownLang {
    position: relative;
    display: inline-block;
  }

  .dropdownLang-content {
    right: -48px;
    top: 17px;
    width: 112px;
    display: none;
    position: absolute;
    background-color: #fff;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
  }

  .triangle {
    position: absolute;
    color: white;
    top: 7px;
    left: 50%;
    translate: -50%;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #fff;
    z-index: 10;
    display: none;
  }

  .dropdownLang-content a {
    color: #716359;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdownLang a:hover {
    color: #cbc8ab;
  }

  .show {
    display: block !important;
  }

  .menuStyle {
    display: flex;
    height: 40px;
    width: 1280px;
    align-items: center;
    justify-content: start;
    z-index:2;
    position: relative
  }

  .containerStyle {
    position:fixed;  overflow-auto;
    display:flex;flex-direction:column; align-items:center; justify-content:center; height:130px; width:100%; background-color:#fafaf0;
     box-shadow:0 8px 40px 0 rgb(0 0 0 / 8%), 0 2px 2px 0 rgba(0, 0, 0, 0.15);
     z-index:1
  }
{% endstyle %}
<script>
  /* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
  function dropDownFunc() {
    document.getElementById('dropDownLang').classList.toggle('show');
    document.getElementById('triangle').classList.toggle('show');
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function (event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName('dropdownLang-content');
      var triangle = document.getElementsByClassName('triangle');
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
          triangle[i].classList.remove('show');
        }
      }
    }
  };
</script>

<nav
  class="containerStyle"
>
  <div style="display:flex; height:90px; width:1280px; align-items:end; justify-content:space-between; ">
    <a
      href="{{ routes.root_url }}"
      class="header__heading-link link link--text focus-inset"
    >
      {%- if settings.logo != blank -%}
        <div style="display:flex; height:70px; align-items:center;">
          <img
            src="{{ settings.logo | image_url: width: 1000 }}"
            width="260"
            height="53"
            loading="lazy"
          >
        </div>
      {%- else -%}
        <span class="h2">{{ shop.name }}</span>
      {%- endif -%}
    </a>
    <div style="display:flex; align-items:center;padding:10px 0px; height:56px;font-size:12px;font-weight:600 ; width:60%; gap:30px; justify-content:end">
      <form action="{{ routes.search_url }}" style="display:flex; align-items:center;gap:4px">
        <input
          type="text"
          placeholder="Search..."
          name="q"
          value="{{ search.terms | escape }}"
          style="border: 1px solid #bebebe; width:160px; height:28px;padding: 10px 10px"
        >
        <button type="submit" style="border:0; background-color:transparent; cursor:pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14px"
            height="14px"
            id="Layer_2"
            data-name="Layer 2"
            viewBox="0 0 242.68 242.68"
          >
            <defs>
              <style>
                .cls-1 {
                  fill: #716359;
                }
              </style>
            </defs>
            <g id="Layer_2-2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1-2">
                <path class="cls-1" d="m173.44,152.62h-10.96l-3.88-3.75c14.07-16.32,21.8-37.15,21.78-58.69,0-49.8-40.38-90.18-90.19-90.18S0,40.38,0,90.19s40.38,90.19,90.19,90.19c22.34,0,42.87-8.19,58.69-21.78l3.75,3.88v10.96l69.38,69.24,20.67-20.67-69.24-69.38h0Zm-83.25-.01c-34.55,0-62.44-27.89-62.44-62.44s27.89-62.44,62.44-62.44,62.44,27.89,62.44,62.44-27.89,62.44-62.44,62.44Z"/>
              </g>
            </g>
          </svg>
        </button>
      </form>
      <div class="dropdownLang">
        <img
          class="dropbtn"
          onclick="dropDownFunc()"
          src="{{ 'uk.png' | asset_url }}"
          width="18"
          height="18"
          loading="lazy"
        >
        <div id="triangle" class="triangle">a</div>
        <div id="dropDownLang" class="dropdownLang-content">
          <a
            style="cursor:pointer; display:flex;gap:4px"
            ><img
              src="{{ 'ge.png' | asset_url }}"
              width="18"
              height="18"
              loading="lazy"

            >Deutsch</a
          >
          <a
            style="cursor:pointer; display:flex;gap:4px"
            ><img
              src="{{ 'uk.png' | asset_url }}"
              width="18"
              height="18"
              loading="lazy"

            >English</a
          >
        </div>
      </div>
      <a style="display:flex; align-items:center;gap:4px" href="{{ routes.account_login_url }}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="iconify iconify--ic"
          width="18px"
          height="18px"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        >
          <path fill="currentColor" d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
        </svg>
        <span>Login</span>
      </a>
      <a style="display:flex; align-items:center;gap:4px" href="/cart">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="iconify iconify--tabler"
          width="18px"
          height="18px"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        >
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="m9 11l3 3l8-8"></path><path d="M20 12v6a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h9"></path></g>
        </svg>
        <span>Wishlist</span>
      </a>
      <a style="display:flex; align-items:center;gap:4px" href="{{ routes.cart_url }}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="iconify iconify--ic"
          width="18px"
          height="18px"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        >
          <path fill="currentColor" d="M20 4H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 14H4v-6h16v6zm0-10H4V6h16v2z"></path>
        </svg>
        <span>Checkout</span>
      </a>
      <a style="display:flex; align-items:center;gap:4px" href="/cart">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="iconify iconify--ph"
          width="18px"
          height="18px"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 256 256"
        >
          <path fill="currentColor" d="M100 216a20 20 0 1 1-20-20a20.1 20.1 0 0 1 20 20Zm84-20a20 20 0 1 0 20 20a20.1 20.1 0 0 0-20-20Zm49.3-120.7l-24.2 84.4a28.1 28.1 0 0 1-26.9 20.3H81.8a28.1 28.1 0 0 1-26.9-20.3L30.8 75.5c0-.1-.1-.3-.1-.4L21.8 44H12a12 12 0 0 1 0-24h12.8a20.3 20.3 0 0 1 19.3 14.5L51.3 60h170.4a12.1 12.1 0 0 1 11.6 15.3ZM205.8 84H58.2l19.7 69.1a4.1 4.1 0 0 0 3.9 2.9h100.4a4.1 4.1 0 0 0 3.9-2.9Z"></path>
        </svg>
        <span>Basket ({{ cart.item_count }})</span>
      </a>
    </div>
  </div>
  <div
    class="menuStyle"
  >
    {% for link in section.settings.menu.links %}
      {% style %}
        .mainItem {
          height: 100%;
          font-size: 15px;
          padding: 10px 15px;
          white-space: nowrap;
        }

        .mainItem:hover {
          background-color: white;
          box-shadow: 0 -3px 8px -2px #dadbd2;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          color: #bebebe;
        }

        .childMenu {
          display: none;
          position: absolute;
          left: -3px;
          right: -3px;
          height: 200px;
          top: 40px;
        }

        .gridContainer {
          width: 100%;
          height: 100%;
          background-color: white;
          border-radius: 8px;
          padding: 10px 10px;
          display: grid;
          grid-template-columns: repeat(5, minmax(0, 1fr));
          gap: 20px;
        }

        .dropdown {
        }

        .dropdown-content a {
          color: #716359;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: white;
          box-shadow: 0 -1px 5px -2px #dadbd2;
          padding: 10px 10px;
          left: -3px;
          height: min-content;
          min-width: 1280px;
          top: 40px;
          z-index: 1;
          border-radius: 6px;
        }

        .dropdown:hover .dropdown-content {
          display: block;
        }
      {% endstyle %}
      <div class="dropdown">
        <a class="mainItem" href="{{ link.url }}">{{ link.title }}</a>
        {% if link.links.size > 0 %}
          <div class="dropdown-content">
            <div class="gridContainer">
              {% for childLink in link.links %}
                <div>
                  <img
                    src="{{ childLink.object.image.src | image_url: width: 1000 }}"
                    width="260"
                    height="120"
                    loading="lazy"
                  >
                  <a
                    style="border-bottom: 1px solid #e0daa7; font-size:17px"
                    href="{{ childLink.url }}"
                  >
                    {{- childLink.title -}}
                  </a>
                  {% if childLink.links.size > 0 %}
                    {% for onChildLink in childLink.links %}
                      <a style=" font-size:13px" href="{{ onChildLink.url }}">
                        {{- onChildLink.title -}}
                      </a>
                    {% endfor %}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <hr style="position:fixed;left:0;top:0;margin-top:90px;border-bottom: 1px solid #e0daa7; width:100vw;height:0px">
  <hr style="position:fixed;left:0;top:0;margin-top:130px;border-bottom: 1px solid #e0daa7; width:100vw;height:0px">
</nav>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.header.settings.logo_header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.logo_help.content"
    },
    {
      "id": "menu",
      "type": "link_list",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ]
}
{% endschema %}
