{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .home_component {
    display: -ms-grid;
    display: grid;
    height: 512px;
    padding-top: 8px;
    padding-bottom: 8px;
    grid-auto-columns: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .home_grid-item {
    position: relative;
    width: 100%;
    height: 100%;
  }

  #home-banner-layout {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    position: relative;
  }

  .home_grid-image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .w-slider-arrow-left,
  .w-slider-arrow-right {
    position: absolute;
    width: 80px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
    color: white;
    font-size: 40px;
    border: none;
    background: transparent;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .w-slider-arrow-left {
    left: 0;
  }

  .w-slider-arrow-right {
    right: 0;
  }

  .icon-left {
    transform: rotate(90deg);
    width: 40px;
  }

  .icon-right {
    transform: rotate(270deg);
    width: 40px;
  }

  .slider-counter {
    position: absolute;
    z-index: 2;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-top: 10px;
    height: 40px;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
  }

  @media screen and (max-width: 479px) {
    .home_component {
      height: auto;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: auto;
      grid-template-rows: auto;
    }

    #home-banner-layout {
      -ms-grid-row: span 1;
      grid-row-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
      -ms-grid-column: span 2;
      grid-column-start: span 2;
      -ms-grid-column-span: 2;
      grid-column-end: span 2;
    }

    .home_grid-image {
      position: static;
    }

    .hide-mobile-portrait {
      display: none;
    }
  }
{%- endstyle -%}

<div class="padding-global">
  <div class="container-large-modified">
    {%- if section.blocks.size > 0 -%}
      <div class="home_component">
        <div id="home-banner-layout" class="home_grid-item">
          {% comment %} sliderbanner {% endcomment %}
          <slideshow-component
            role="region"
            aria-roledescription="{{ 'sections.slideshow.carousel' | t }}"
            aria-label="Slideshow about our brand"
          >
            <div
              class="slideshow banner banner--small grid grid--1-col slider slider--everywhere"
              id="Slider-{{ section.id }}"
              aria-live="polite"
              aria-atomic="true"
              data-autoplay="true"
              data-speed="{{ section.settings.change_slides_speed }}"
            >
              {%- for block in section.blocks -%}
                {%- if block.type == 'slide' -%}
                  <div
                    class="slideshow__slide grid__item grid--1-col slider__slide"
                    id="Slide-{{ section.id }}-{{ forloop.index }}"
                    {{ block.shopify_attributes }}
                    role="group"
                    aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
                    aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                    tabindex="-1"
                  >
                    <div class="slideshow__media banner__media media{% if block.settings.image == blank %} placeholder{% endif %}">
                      {%- if block.settings.image -%}
                        {{
                          block.settings.image
                          | image_url: width: 3840
                          | image_tag:
                            loading: 'lazy',
                            height: '100vh',
                            sizes: '100vw',
                            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                        }}
                      {%- else -%}
                        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                      {%- endif -%}
                    </div>
                    {% comment %}
                      <div class="slideshow__text-wrapper banner__content banner__content--{{ block.settings.box_align }} page-width{% if block.settings.show_text_box == false %} banner--desktop-transparent{% endif %}">
                        <div class="slideshow__text banner__box content-container content-container--full-width-mobile color-{{ block.settings.color_scheme }} gradient slideshow__text--{{ block.settings.text_alignment }} slideshow__text-mobile--{{ block.settings.text_alignment_mobile }}">
                          {%- if block.settings.heading != blank -%}
                            <h2 class="banner__heading {{ block.settings.heading_size }}">
                              {{ block.settings.heading | escape }}
                            </h2>
                          {%- endif -%}
                        </div>
                      </div>
                    {% endcomment %}
                  </div>
                {%- endif -%}
              {%- endfor -%}
            </div>
            <div class="slideshow__controls slideshow__controls--top slider-buttons no-js-hidden">
              <button
                type="button"
                class="hide-mobile-portrait w-slider-arrow-left slider-button--prev"
                name="previous"
                aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
                aria-controls="Slider-{{ section.id }}"
              >
                <div class="icon-left">{% render 'icon-caret' %}</div>
              </button>

              <button
                type="button"
                class="hide-mobile-portrait w-slider-arrow-right slider-button slider-button--next"
                name="next"
                aria-label="{{ 'sections.slideshow.next_slideshow' | t }}"
                aria-controls="Slider-{{ section.id }}"
              >
                <div class="icon-right">
                  {% render 'icon-caret' %}
                </div>
              </button>

              <div class="slider-counter slider-counter--dots">
                <div
                  class="slideshow__control-wrapper"
                  style="width:100%;height:100%;display:flex;justify-content:center;align-items:start;gap:6px"
                >
                  {%- for block in section.blocks -%}
                    <button
                      class="slider-counter__link slider-counter__link--dots link"
                      aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                      aria-controls="Slider-{{ section.id }}"
                      style="width:16px;height:16px;border-radius:100%;padding:0;background-color:white"
                    ></button>
                  {%- endfor -%}
                </div>
              </div>
            </div>

            <noscript>
              <div class="slider-buttons">
                <div class="slider-counter">
                  {%- for block in section.blocks -%}
                    <a
                      href="#Slide-{{ section.id }}-{{ forloop.index }}"
                      class="slider-counter__link link"
                      aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                    >
                      {{ forloop.index }}
                    </a>
                  {%- endfor -%}
                </div>
              </div>
            </noscript>
          </slideshow-component>
          {% comment %} sliderbanner foot {% endcomment %}
        </div>
        {%- for block in section.blocks %}
          {%- if block.type == 'image' -%}
            <a class="home_grid-item"
              ><img
                src="{{ block.settings.image | image_url: width: 800 }}"
                loading="lazy"
                class="home_grid-image"
            ></a>
            <a class="home_grid-item"
              ><img
                src="{{ block.settings.image_2 | image_url: width: 800 }}"
                loading="lazy"
                class="home_grid-image"
            ></a>
          {%- endif -%}
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</div>

<script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "default": 5
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Image slide",
          "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image-banner.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:sections.image-banner.settings.image_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.presets.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
