{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

{%- unless settings.cart_type == 'drawer' -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}



<cart-items class="{% if cart == empty %} is-empty{% endif %} padding-global">
  <div class="container-large-modified">
    <div class="padding-section-medium ">
      <div class="margin-bottom margin-small">
        <div class="my-basket_heading-wrapper">
          <div class="my-basket_heading">
            <h2 class="title-section text-font-small-caps">{{ 'sections.cart.title' | t }}</h2>
          </div>
        </div>
      </div>

      <div class="cart__warnings">
        <h1 class="cart__empty-text" style="display:flex; flex-direction: column;">
          <span>There are currently no items in the basket</span>
          <span><a href="{{ section.settings.link }}">Click here</a> to continue shopping.</span>
        </h1>
      </div>

      <div class="cart-form_block w-form">
        <form action="{{ routes.cart_url }}" class="cart-form_product" method="post" id="cart">
          <div id="main-cart-items" data-id="{{ section.id }}">
            <div class="js-contents">
              {%- if cart != empty -%}
                <div class="div-block-3" style="color: #2f2f2f;">
                  <div class="div-block-6-copy ">
                    <div class="my-basket_product-name-copy">
                      <div class="my-basket_column-title">{{ 'sections.cart.headings.product' | t }}</div>
                    </div>
                    <div class="my-basket_product-name-copy">
                      <div class="my-basket_column-title">{{ 'sections.cart.headings.remove' | t }}</div>
                    </div>
                    <div class="my-basket_product-name-copy">
                      <div class="my-basket_column-title">{{ 'sections.cart.headings.price' | t }}</div>
                    </div>
                    <div class="my-basket_product-name-copy">
                      <div class="my-basket_column-title">{{ 'sections.cart.headings.quantity' | t }}</div>
                    </div>
                    <div class="my-basket_product-name-copy">
                      <div class="my-basket_column-title">{{ 'sections.cart.subtotal' | t }}</div>
                    </div>
                  </div>
                  
                
                    {%- for item in cart.items -%}
                    <div class="div-block-4 gridspan1">
                      <div class="div-block-4-copy">
                        <div class="div-block-5-copy">
                          <div class="div-block-8">
                            <img
                              src="{{ item.image | image_url: width: 300 }}"
                              class="image"
                              alt="{{ item.image.alt | escape }}"
                              loading="lazy"
                              width="70"
                              height="70"
                            />
                          </div>
                        </div>
                        <div class="div-block-5 gridspan1 div-block-5-copy">
                          <div class="my-basket_product-name gridspan1">
                            <a
                              href="{{ item.url }}"
                              class="product-list-detail_name-link gridspan1"
                            >
                              {{- item.title -}}
                            </a>
                            <a
                              href="{{ item.url }}"
                              class="unit-text"
                            >
                              {{- item.product.metafields.custom.pack -}}
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="div-block-5 gridspan1 center">
                        <input
                          type="checkbox"
                          name="{{ item.param_name }}"
                          value="{{ item.active }}"
                          id="Remove-{{ item.index | plus: 1 }}"
                          data-index="{{ item.index | plus: 1 }}"
                          {% if item.active %}
                            checked
                          {% endif %}
                          {% if item.count == 0 and item.active == false %}
                            disabled
                          {% endif %}
                        />
                      </div>
                      <div
                        class="my-basket_product-details gridspan1 div-block-5"
                      >
                        <span class="price-custom">{{ item.final_price | money }}</span>
                      </div>
                      <div class="div-block-7 gridspan1 center div-block-5">
                        <quantity-input class="quantity">
                        <input
                          class="quantity__input cart-quantity_form_input is-quantity-form-input w-input"
                          data-quantity-variant-id="{{ item.variant.id }}"
                          type="number"
                          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                          name="updates[]"
                          value="{{ item.quantity }}"
                          {% # theme-check-disable %}
                          data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                          min="{{ item.variant.quantity_rule.min }}"
                          {% if item.variant.quantity_rule.max != null %}
                            max="{{ item.variant.quantity_rule.max }}"
                          {% endif %}
                          step="{{ item.variant.quantity_rule.increment }}"
                          {% # theme-check-enable %}
                          aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                          id="Quantity-{{ item.index | plus: 1 }}"
                          data-index="{{ item.index | plus: 1 }}"
                        >
                          <quantity-input class="quantity">
                      </div>
                      <div
                        class="my-basket_product-details gridspan1 div-block-5"
                      >
                        <span class="price-custom">{{ item.final_line_price | money }}</span>
                      </div>
                    </div>
                    {%- endfor -%}
               
                </div>
              {%- endif -%}
            </div>
          </div>

          <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
          <p
            class="visually-hidden"
            id="shopping-cart-line-item-status"
            aria-live="polite"
            aria-hidden="true"
            role="status"
          >
            {{ 'accessibility.loading' | t }}
          </p>
        </form>
      </div>
      <div class="cart-button-container">
        <div class="cart-button_wrapper">
          <a href="{{ section.settings.link }}" class="my-basket_link w-inline-block">
            <div>
              {{ 'general.continue_shopping' | t }}
              <br>
            </div>
            <div class="icon-embed-xxsmall w-embed">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--bx"
                width="100%"
                height="100%"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path d="M19 12l-7-6v5H6v2h6v5z" fill="currentColor"></path>
              </svg>
            </div>
          </a>
        </div>
        {%- if cart != empty -%}
          <div class="cart-button_wrapper">
            <a
              class="my-basket_link_update w-inline-block"
            >
              {% render 'icon-update' %}
              <div>{{ 'sections.cart.update_shopping_cart' | t }}</div>
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</cart-items>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "header",
      "content": "Link continue"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link continue"
    }
  ]
}
{% endschema %}
