{{ 'pre-checkout.css' | asset_url | stylesheet_tag }}

<div class="main-pre-checkout">
  <div class="pre-checkout-overlay">
    <span class="hidden">Overlay</span>
  </div>
  <div class="padding-global h-full">
    <div class="container-large-modified h-full">
      <div class="pre-checkout-content h-full">
        <div class="pre-checkout-overlay-left">
          <span class="hidden">Overlay</span>
        </div>

        <div class="pre-checkout-left padding-section-medium">
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset center">
            <div style="display:flex; height:56.72px; align-items:center">
              <img src="{{ settings.logo | image_url: width: 1000 }}" loading="lazy" style="height:100%">
            </div>
          </a>

          <div class="pre-checkout-left_breadcrumbs flex items-center">
            <a href="/cart">Basket</a>
            <div class="flex" style="width: 16px; height: 16px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--ic"
                width="100%"
                height="100%"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path fill="currentColor" d="M6.23 20.23L8 22l10-10L8 2L6.23 3.77L14.46 12z" />
              </svg>
            </div>
            <a href="#">Delivery Calendar</a>
            <div class="flex" style="width: 16px; height: 16px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--ic"
                width="100%"
                height="100%"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path fill="currentColor" d="M6.23 20.23L8 22l10-10L8 2L6.23 3.77L14.46 12z" />
              </svg>
            </div>
            <a href="#">Check Out</a>
          </div>

          <div class="delivery-heading margin-bottom margin-medium">Delivery Details</div>

          <div class="flex margin-bottom margin-medium" style="grid-column-gap: 16px">
            <div class="flex flex-col">
              <label for="Area" class="checkout_section-label">Region *</label>
              <select name="" id="Area" class="checkout_section-select area w-select">
                <option value="">Select one...</option>
              </select>
            </div>

            <div class="flex flex-col">
              <label for="'District" class="checkout_section-label">District *</label>
              <select name="" id="District" class="checkout_section-select district w-select">
                <option value="">Select one...</option>
              </select>
            </div>
          </div>

          <div class="delivery-district-description text-size-small margin-bottom margin-medium">
            The minimum order amount is $500.
            <br>
            For Discovery Bay, Tung Chung & Yat Tung Estate customers
            <br>
            a delivery fee of $150 may apply for orders below $1000.
          </div>

          <div class="delivery-heading margin-bottom margin-tiny">Delivery Schedule</div>
          <div class="margin-bottom margin-medium">
            <div class="text-display-inline">
              These are the next possible delivery dates for your shipping address in:&nbsp;
            </div>
            <div id="delivery-location" class="checkout_delivery-location"></div>
            <div>Please select a day and time.</div>
          </div>

          <div class="margin-medium" style="margin-left: 0; margin-right: 0; position: relative">
            <div class="icon-schedule back" onclick="onSchedule('back')">
              <span class="left"></span>
            </div>
            <div class="icon-schedule next" onclick="onSchedule('next')">
              <span class="right"></span>
            </div>

            <div
              class="delivery-schedule-wrapper flex flex-col"
              id="delivery-schedule-wrapper"
              onmousedown="return false"
            >
              <div class="delivery-schedule-item-date-wrapper"></div>

              <div class="delivery-schedule-item-time-wrapper"></div>
            </div>
          </div>

          <div class="delivery-heading margin-bottom margin-small">Delivery Option</div>
          <div class="checkout_field-wrapper margin-bottom margin-small delivery-option">
            <label for="Area-2" class="checkout_section-label"
              >What should we do, if at the time of delivery, nobody is home? <br>
              Please select one of the following:</label
            >
            <div class="flex items-center">
              <input type="radio" id="doorstep" name="delivery-option" value="doorstep" checked>
              <label for="doorstep">Please deposit the delivery at my doorstep </label>
            </div>
            <div class="flex items-center">
              <input type="radio" id="concierge" name="delivery-option" value="concierge">
              <label for="concierge">Please deposit with my concierge</label>
            </div>
            <div class="flex items-center">
              <input type="radio" id="contact-me" name="delivery-option" value="contact-me">
              <label for="contact-me">Please do not deposit my delivery and contact me to reschedule</label>
            </div>
          </div>

          <div class="flex items-center justify-between">
            <a href="/cart" class="flex items-center back-to-basket">
              <div class="flex" style="width: 16px; height: 16px;">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--ic"
                  width="100%"
                  height="100%"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 24 24"
                >
                  <path fill="currentColor" d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6l6 6l1.41-1.41z" />
                </svg>
              </div>
              <span>Back to basket</span>
            </a>

            <button type="button" class="uppercase pre-checkout-button" onclick="onCheckout()">Check out</button>
          </div>
        </div>

        <div class="pre-checkout-right">
          <div class="padding-section-medium">
            <div class="div-block-4-copy gridspan1">
              {%- for item in cart.items -%}
                <div class="flex cart-item-details">
                  <div class="cart-item-img">
                    <img
                      src="{{ item.image | image_url: width: 64 }}"
                      alt="{{ item.image.alt | escape }}"
                      loading="lazy"
                      width="62"
                      height="62"
                    >

                    <div class="cart-item-quantity">{{- item.quantity -}}</div>
                  </div>

                  <div class="cart-item-name flex flex-col">
                    <span>{{- item.title -}}</span>
                    <span>
                      {{- item.product.metafields.custom.pack -}}
                      &nbsp;-&nbsp;
                      <div class="price-custom" style="display: inline-block">{{- item.final_price | money -}}</div>
                    </span>
                  </div>

                  <div class="cart-item-price price-custom">
                    <span>{{ item.final_line_price | money }}</span>
                  </div>
                </div>
              {%- endfor -%}
            </div>

            <div class="discount-code-seperator">
              <span class="hidden">Line</span>
            </div>

            <div class="total-amount flex flex-col">
              <div class="flex justify-between items-center">
                <span class="text-block-3">Discount</span>
                <span>Calculated on the next step</span>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-block-3">Subtotal</span>
                <div class="price-custom" style="display: inline-block">
                  {{ cart.total_price | money }}
                </div>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-block-3">Shipping</span>
                <span>Calculated on the next step</span>
              </div>
            </div>

            <div class="discount-code-seperator">
              <span class="hidden">Line</span>
            </div>

            <div class="total-amount">
              <div class="flex justify-between items-center">
                <span class="text-style-grand-total-copy">Total</span>
                <div class="flex items-center">
                  <span class="text-block-3-copy">HKD&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <div class="text-style-grand-total price-custom" style="display: inline-block">
                    {{ cart.total_price | money }}
                  </div>
                </div>
              </div>
            </div>

            <div class="discount-code-seperator">
              <span class="hidden">Line</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ 'pre-checkout.js' | asset_url }}" defer="defer"></script>
