{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}

{% style %}
  .check-out_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .hide-mobile-landscape:empty,
  .hide-mobile-portrait:empty {
    display: block;
  }

  .check-out_item {
    width: 328px;
    padding: 0 20px;
    background: linear-gradient(to bottom,#fff 0,#fefeef 96%);
    background-color: #fafadb;
    box-shadow: 0 0 8px -2px #bebebe;
    border-radius: 5px;
  }

  .total-amount {
    display: -ms-grid;
    display: grid;
    padding: 22px 0 6px 10px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    font-size: 2rem;
    font-weight: 300;
    font-variant: small-caps;
    color: #2f2f2f;
  }

  .text-style-grand-total {
    font-size: 24px;
    font-weight: 400;
  }

  .discount-code-seperator {
    height: 1px;
    margin: 16px -16px;
    background-color: #d8d8d8;
  }

  .check-out_button {
    width: 100%;
    max-height: 48px;
    margin-right: 0px;
    padding: 12px 0px 12px 24px;
    border-radius: 8px;
    background-color: #cbc8ab;
    background-position: 10% 50%, 0px 0px;
    background-size: 22px 22px, auto;
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, scroll;
    color: #fff;
    font-weight: 400;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  }

  .delivery-fee-text-box {
    width: 100%;
    padding: 12px 0;
    color: rgba(47, 47, 47, 0.52);
    font-size: 0.64rem;
    line-height: 1.2;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    .hide-mobile-landscape {
      display: none;
    }
  }

  @media screen and (max-width: 479px) {

    .check-out_wrapper {
      justify-content: center;
    }

    .hide-mobile-portrait {
      display: none !important;
    }
  }
  
  @media screen and (max-width: 375px) {
    .checkout_item-wrapper,
    .check-out_item {
      width: 100%;
    }
  }
{% endstyle %}

<div class="padding-global" id="main-cart-footer" data-id="{{ section.id }}">
  <div class="container-large-modified">
    <div class="padding-section-small">
      <div class="js-contents" {{ block.shopify_attributes }}>
        <div class="check-out_wrapper">
          <div class="flex hide-mobile-portrait"></div>
          <div class="checkout_discount-wrapper hide-mobile-landscape"></div>
          <div class="checkout_item-wrapper">
            <div class="check-out_item">
              <div class="total-amount">
                <div class="gridspan1">{{ 'sections.cart.subtotal' | t }}</div>
                <div style="-ms-grid-column-align: end; justify-self: end;" class="gridspan1 price-custom">
                  {{ cart.total_price | money }}
                </div>
                <div class="text-style-grand-total gridspan1">
                  {{ 'sections.cart.grand_total' | t }}
                </div>
                <div
                  style="-ms-grid-column-align: end; justify-self: end;"
                  class="gridspan1 price-custom text-style-grand-total"
                >
                  {{ cart.total_price | money }}
                </div>
              </div>
              <hr class="discount-code-seperator">
              {% if cart.total_price < 50000 %}
                <button
                  disabled
                  class="check-out_button w-button icon-checkout-button"
                  style="
                    opacity: 0.6;
                    cursor: default;
                    border-color: silver;
                    background-color: #b8b7b6;
                  "
                >
                  {{ 'sections.cart.proceed_to_checkout' | t }}
                </button>
              {% else %}
                <a
                  href="{% if request.locale.primary == false %}{% if request.locale.iso_code == 'zh-TW' %}/zh{%else%}/{{ request.locale.iso_code }}{% endif %}{% endif %}/pages/pre-checkout"
                  class="check-out_button w-button icon-checkout-button"
                >
                  {{- 'sections.cart.proceed_to_checkout' | t -}}
                </a>
              {% endif %}
              <div class="delivery-fee-text-box">
                <a href="#">
                  {{- 'sections.cart.delivery_fee' | t | newline_to_br -}}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="cart-errors"></div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function (event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
