{{ 'pre-checkout.css' | asset_url | stylesheet_tag }}

<div class="main-pre-checkout">
  <div class="pre-checkout-overlay">
    <span class="hidden">Overlay</span>
  </div>
  <div class="padding-global h-full">
    <div class="container-large-modified h-full">
      <div class="pre-checkout-content h-full">
        <div class="pre-checkout-overlay-left">
          <span class="hidden">Overlay</span>
        </div>

        <div class="pre-checkout-left padding-section-medium">
          <div class="hidden pre-checkout-left-overlay"></div>
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset center">
            <div style="display:flex; height:56.72px; align-items:center">
              <img src="{{ settings.logo | image_url: width: 1000 }}" loading="lazy" style="height:100%">
            </div>
          </a>

          <div class="pre-checkout-left_breadcrumbs flex items-center">
            <a href="{{ routes.cart_url }}" style="color: #1773b0">{{ 'sections.header.basket' | t }}</a>
            <div class="flex" style="width: 16px; height: 16px; flex-shrink: 0">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--ic"
                width="100%"
                height="100%"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path fill="currentColor" d="M6.23 20.23L8 22l10-10L8 2L6.23 3.77L14.46 12z" />
              </svg>
            </div>
            <span>{{ 'pre-checkout.delivery_calendar' | t }}</span>
            <div class="flex" style="width: 16px; height: 16px; flex-shrink: 0">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--ic"
                width="100%"
                height="100%"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path fill="currentColor" d="M6.23 20.23L8 22l10-10L8 2L6.23 3.77L14.46 12z" />
              </svg>
            </div>
            <span style="color: #6b6b69">
              {{ 'pre-checkout.checkout' | t }}
            </span>
          </div>

          <div class="delivery-heading margin-bottom margin-medium">
            {{ 'pre-checkout.delivery_details.title' | t }}
          </div>

          <div class="flex margin-bottom margin-medium" style="grid-column-gap: 16px; flex-wrap: wrap">
            <div class="flex flex-col region">
              <label for="Area" class="checkout_section-label">
                {{- 'pre-checkout.delivery_details.region' | t }} *</label
              >
              <select name="" id="Area" class="checkout_section-select area w-select">
                <option value="">{{ 'pre-checkout.select_one' | t }}</option>
              </select>
              <span class="validate-schedule">
                {{ 'pre-checkout.delivery_details.region' | t }}
                {{ 'pre-checkout.blank_field' | t }}
              </span>
            </div>

            <div class="flex flex-col district">
              <label for="'District" class="checkout_section-label">
                {{- 'pre-checkout.delivery_details.district' | t }} *</label
              >
              <select name="" id="District" class="checkout_section-select district w-select">
                <option value="">
                  {{ 'pre-checkout.select_one' | t -}}
                </option>
              </select>

              <span class="validate-schedule">
                {{ 'pre-checkout.delivery_details.district' | t }}
                {{ 'pre-checkout.blank_field' | t }}
              </span>
            </div>
          </div>

          <div class="delivery-district-description text-size-small margin-bottom margin-medium">
            {{ 'pre-checkout.delivery_details.description' | t | newline_to_br }}
          </div>

          <div class="delivery-heading margin-bottom margin-tiny">
            {{ 'pre-checkout.delivery_schedule.title' | t }}
          </div>
          <div class="margin-bottom margin-medium">
            <div class="text-display-inline">{{ 'pre-checkout.delivery_schedule.location' | t }}&nbsp;</div>
            <div id="delivery-location" class="checkout_delivery-location"></div>
            <div>{{ 'pre-checkout.delivery_schedule.select_time' | t }}</div>
          </div>

          <div class="margin-medium" style="margin-left: 0; margin-right: 0; position: relative">
            <div class="icon-schedule back" onclick="onSchedule('back')">
              <span class="left"></span>
            </div>
            <div class="icon-schedule next" onclick="onSchedule('next')">
              <span class="right"></span>
            </div>

            <div
              class="delivery-schedule-wrapper flex flex-col timeslot"
              id="delivery-schedule-wrapper"
              {% comment %} onmousedown="return false" {% endcomment %}
            >
              <div class="delivery-schedule-item-date-wrapper"></div>
              <div class="delivery-schedule-item-time-wrapper"></div>
              <span class="validate-schedule">
                {{ 'pre-checkout.delivery_schedule.time_slot' | t }}
                {{ 'pre-checkout.blank_field' | t }}
              </span>
            </div>
          </div>

          <div class="delivery-heading margin-bottom margin-small">
            {{ 'pre-checkout.delivery_option.title' | t }}
          </div>
          <div class="checkout_field-wrapper margin-bottom margin-small delivery-option">
            <label for="Area-2" class="checkout_section-label">
              {{- 'pre-checkout.delivery_option.label' | t | newline_to_br -}}
            </label>
            <div class="flex items-center">
              <input
                type="radio"
                id="doorstep"
                name="delivery-option"
                value="{{ 'pre-checkout.delivery_option.option1' | t }}"
              
              >
              <label for="doorstep">{{ 'pre-checkout.delivery_option.option1' | t }}</label>
            </div>
            <div class="flex items-center">
              <input
                type="radio"
                id="concierge"
                name="delivery-option"
                value="{{ 'pre-checkout.delivery_option.option2' | t }}"
              >
              <label for="concierge">{{ 'pre-checkout.delivery_option.option2' | t }}</label>
            </div>
            <div class="flex items-center">
              <input
                type="radio"
                id="contact-me"
                name="delivery-option"
                value="{{ 'pre-checkout.delivery_option.option3' | t }}"
              >
              <label for="contact-me">{{ 'pre-checkout.delivery_option.option3' | t }}</label>
            </div>
          </div>

          <div class="flex items-center justify-between">
            <a href="{{ routes.cart_url }}" class="flex items-center back-to-basket">
              <div class="flex" style="width: 16px; height: 16px;">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--ic"
                  width="100%"
                  height="100%"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 24 24"
                >
                  <path fill="currentColor" d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6l6 6l1.41-1.41z" />
                </svg>
              </div>
              <span>{{ 'pre-checkout.back_to_basket' | t }}</span>
            </a>

            <button
              {% if cart == empty or cart.total_price < 50000 %}
                disabled
              {% endif %}
              type="button"
              class="uppercase pre-checkout-button"
              onclick="onCheckout()"
            >
              {{ 'pre-checkout.checkout' | t }}
            </button>
          </div>
        </div>

        <div class="pre-checkout-right">
          <div class="hidden pre-checkout-right-overlay"></div>
          <div class="padding-section-medium">
            <div class="div-block-4-copy gridspan1">
              {%- for item in cart.items -%}
                <div class="flex cart-item-details">
                  <div class="cart-item-img">
                    <img
                      src="{{ item.image | image_url: width: 64 }}"
                      alt="{{ item.image.alt | escape }}"
                      loading="lazy"
                      width="62"
                      height="62"
                    >

                    <div class="cart-item-quantity">{{- item.quantity -}}</div>
                  </div>

                  <div class="cart-item-name flex flex-col">
                    <span>{{- item.title -}}</span>
                    <span>
                      {{- item.product.metafields.custom.pack -}}
                      &nbsp;-&nbsp;
                      <div class="price-custom" style="display: inline-block">{{- item.final_price | money -}}</div>
                    </span>
                  </div>

                  <div class="cart-item-price price-custom">
                    <span>{{ item.final_line_price | money }}</span>
                  </div>
                </div>
              {%- endfor -%}
            </div>

            <div class="discount-code-seperator">
              <span class="hidden">Line</span>
            </div>

            <div class="total-amount flex flex-col">
              <div class="flex justify-between items-center">
                <span class="text-block-3">{{ 'pre-checkout.summary.discount' | t }}</span>
                <span>{{ 'pre-checkout.summary.calculated_on_the_next_step' | t }}</span>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-block-3">{{ 'pre-checkout.summary.subtotal' | t }}</span>
                <div class="price-custom" style="display: inline-block">
                  {{ cart.total_price | money }}
                </div>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-block-3">{{ 'pre-checkout.summary.shipping' | t }}</span>
                <span>{{ 'pre-checkout.summary.calculated_on_the_next_step' | t }}</span>
              </div>
            </div>

            <div class="discount-code-seperator">
              <span class="hidden">Line</span>
            </div>

            <div class="total-amount">
              <div class="flex justify-between items-center">
                <span class="text-style-grand-total-copy">{{ 'pre-checkout.summary.total' | t }}</span>
                <div class="flex items-center">
                  <span class="text-block-3-copy">HKD&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <div class="text-style-grand-total price-custom" style="display: inline-block">
                    {{ cart.total_price | money }}
                  </div>
                </div>
              </div>
            </div>

            <div class="discount-code-seperator">
              <span class="hidden">Line</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} <script src="{{ 'pre-checkout.js' | asset_url }}" defer="defer"></script> {% endcomment %}
<script>
  {% comment %} check empty object {% endcomment %}
  const isEmptyObject = (obj) => {
    return Object.keys(obj).length === 0;
  }

  {% comment %} format date {% endcomment %}
  const formatDate = (date) => {
    let d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();
  
    if (month.length < 2) 
        month = '0' + month;
    if (day.length < 2) 
        day = '0' + day;
  
    return [year, month, day].join('-');
  }
  {% comment %} render date {% endcomment %}
  const generateDate = () => {
    let pageUrl = '{{ page.url }}';
    let locale = "en-US";
    if(pageUrl.includes('zh')) {
      locale = "zh-CN";
    } else if(pageUrl.includes('de')){
      locale = "de-DE";
    } else{
      locale = "en-US";
    }

    const options = { weekday: 'long', month: 'short', day: 'numeric', };
    const tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1); // set tomorrow's date

    return Array.from({ length: 28 }, (_, i) => {
      let date = new Date(tomorrow);
      date.setDate(date.getDate() + i);
      const dateArray = date.toLocaleString(locale, options).replace(',', '').replace('.', '').split(" ");
      const newDateString = locale === "zh-CN" ?  dateArray[0] : dateArray[0] + " " + dateArray[2] + " " + dateArray[1];
      return {
        shortTitle: date.toLocaleString('en-US', {
          weekday: 'short'
        }),
        title: newDateString,
        value: formatDate(date),
        times: []
      };
    });
  }

  let dates = generateDate();
  let areaParam = '';
  let districtParam = '';
  const TIME_BY_DATE_DEFAULT = {
    region: "",
    district: "",
    schedule: {
      id_schedule_default: null,
      date: "",
      order_name: "",
      time: "",
      id_schedule: ""
    },
    option: ""
  }

  const areaSelect = document.querySelector('.checkout_section-select.area');
  const deliveryLocation = document.querySelector('#delivery-location');
  let areaElementHtml = `<option value="" class="area-item">{{ 'pre-checkout.select_one' | t }}</option>`;
  const districtSelect = document.querySelector('.checkout_section-select.district');
  let districtHtml = `<option value="" class="district-item">{{ 'pre-checkout.select_one' | t }}</option>`;
  const regionElement = document.querySelector(".region")
  const areaValidate = regionElement.querySelector(".validate-schedule");

  const districtElement = document.querySelector(".district")
  const districtValidate = districtElement.querySelector(".validate-schedule");

  const timeSlotElement = document.querySelector(".timeslot")
  const timeSlotValidate = timeSlotElement.querySelector(".validate-schedule");

  const timeByDateStorage = window.localStorage.getItem('timeByDate');

  const inputRadio = document.querySelectorAll('input[name="delivery-option"]')

  let timeByDate = {
    region: JSON.parse(timeByDateStorage)?.region || "",
    district: JSON.parse(timeByDateStorage)?.district || "",
    schedule: {
      id_schedule_default:  JSON.parse(timeByDateStorage)?.schedule?.id_schedule_default || null,
      date: JSON.parse(timeByDateStorage)?.schedule?.date || "",
      order_name: JSON.parse(timeByDateStorage)?.schedule?.order_name || "",
      time: JSON.parse(timeByDateStorage)?.schedule?.time || "",
      id_schedule: JSON.parse(timeByDateStorage)?.schedule?.id_schedule || null,
    },
    option: JSON.parse(timeByDateStorage)?.option || ""
  }


  // delivery district
  const areas = [
    {
      label: 'Hong Kong Island',
      value: 'Hong Kong Island',
      districts: [
        {
          label: 'Central & Western',
          value: 'Central & Western',
        },
        {
          label: 'Wan Chai',
          value: 'Wan Chai',
        },
        {
          label: 'Eastern',
          value: 'Eastern',
        },
        {
          label: 'Southern',
          value: 'Southern',
        },
      ]
    },
    {
      label: 'Hong Kong Island - Piers',
      value: 'Hong Kong Island - Piers',
      districts: [
        {
          label: 'Central & Western - Pier 4 - Lamma',
          value: 'Central & Western - Pier 4 - Lamma',
        },
        {
          label: 'Central & Western - Pier 5 - Cheung Chau North & South',
          value: 'Central & Western - Pier 5 - Cheung Chau North & South',
        },
        {
          label: 'Central & Western - Pier 6 - Lantau, Mui Wo',
          value: 'Central & Western - Pier 6 - Lantau, Mui Wo',
        }
      ]
    },
    {
      label: 'Kowloon',
      value: 'Kowloon',
      districts: [
        {
          label: 'Yau Tsim Mong (Yau Ma Tei / Tsim Sha Tsui / Mong Kok / Kowloon West)',
          value: 'Yau Tsim Mong (Yau Ma Tei / Tsim Sha Tsui / Mong Kok / Kowloon West)',
        },
        {
          label: 'Sham Shui Po',
          value: 'Sham Shui Po',
        },
        {
          label: 'Kowloon City',
          value: 'Kowloon City',
        },
        {
          label: 'Wong Tai Sin',
          value: 'Wong Tai Sin',
        },
        {
          label: 'Kwun Tong',
          value: 'Kwun Tong',
        }
      ]
    },
    {
      label: 'New Territories 1',
      value: 'New Territories 1',
      districts: [
        {
          label: 'Kwai Tsing',
          value: 'Kwai Tsing',
        },
        {
          label: 'Tsuen Wan',
          value: 'Tsuen Wan',
        },
        {
          label: 'Tuen Mun',
          value: 'Tuen Mun',
        },
        {
          label: 'Yuen Long',
          value: 'Yuen Long',
        }
      ]
    },

    {
      label: 'New Territories 2',
      value: 'New Territories 2',
      districts: [
        {
          label: 'North',
          value: 'North',
        },
        {
          label: 'Tai Po',
          value: 'Tai Po',
        },
        {
          label: 'Sha Tin',
          value: 'Sha Tin',
        },
        {
          label: 'Sai Kung',
          value: 'Sai Kung',
        },
        {
          label: 'Sai Kung - Pier 1 - Sai Kung Islands',
          value: 'Sai Kung - Pier 1 - Sai Kung Islands',
        }
      ]
    },
    {
      label: 'Islands',
      value: 'Islands',
      districts: [
        {
          label: 'Islands - Discovery Bay',
          value: 'Islands - Discovery Bay',
        },
        {
          label: 'Islands - Tung Chung North & South',
          value: 'Islands - Tung Chung North & South',
        },
        {
          label: 'Islands - Yat Tung Estate North & South',
          value: 'Islands - Yat Tung Estate North & South',
        },
        {
          label: 'Islands - Ma Wan',
          value: 'Islands - Ma Wan',
        }
      ]
    },
  ]

  let districts = timeByDate.region 
                  ? areas.find((area) => area.value === timeByDate.region).districts
                  : areas[0].districts;

  const renderDistricts = (arr) => {
    districtHtml = '<option value="" class="district-item">{{ 'pre-checkout.select_one' | t }}</option>'
    arr.forEach((district) => {
      districtHtml += `
      <option value="${district.value}" class="district-item">${district.label}</option>
      `
    })
    districtSelect.innerHTML = districtHtml;
    districtSelect.addEventListener('change', (event) => {
      const { value } = event.target;
      timeSlotValidate.classList.remove('invalid');
      if(value !== "") {
        districtValidate.classList.remove('invalid');
        districtSelect.classList.remove('invalid');
      }
      deliveryLocation.innerHTML = `${areaSelect.value} / ${value}`;
      timeByDate = {
        ...timeByDate,
        district: value,
        schedule: TIME_BY_DATE_DEFAULT.schedule
      }
      window.localStorage.setItem('timeByDate', JSON.stringify(timeByDate));
      fetchData(encodeURIComponent(areaSelect.value), encodeURIComponent(districtSelect.value))
    })
  }

  areas.forEach((area) => {
    areaElementHtml += `
    <option value="${area.value}" class="area-item">${area.label}</option>
    `
  })

  areaSelect.innerHTML = areaElementHtml;
  areaSelect.addEventListener('change', (event) => {
    const { value } = event.target;
    deliveryLocation.innerHTML = value;
    districtValidate.classList.remove('invalid');
    districtSelect.classList.remove('invalid');
    timeSlotValidate.classList.remove('invalid');
    if(value !== "") {
      areaValidate.classList.remove('invalid');
      areaSelect.classList.remove('invalid');
    }
    const districtsByArea = areas.find((area) => area.value === value)
    districts = districtsByArea ? districtsByArea.districts : [];
    renderDistricts(districts);
    timeByDate = {
      ...timeByDate,
      region: value,
      district: "",
      schedule: TIME_BY_DATE_DEFAULT.schedule
    }
    window.localStorage.setItem('timeByDate', JSON.stringify(timeByDate));
    fetchData(encodeURIComponent(areaSelect.value))
  })

  // delivery schedule
  let scheduleDateElement = document.querySelector(".delivery-schedule-item-date-wrapper");
  let scheduleDateHtml = "";
  let scheduleTimeElement = document.querySelector(".delivery-schedule-item-time-wrapper");
  let scheduleTimeHtml = "";

  const renderDate = (count) => {
    scheduleDateHtml = "";
  
    const renderDateHtml = (arr) => {
       arr.forEach((date) => {
        const dateArr = date.title.split(" ");
        if(dateArr.length > 1) {
          scheduleDateHtml += `
          <div class="delivery-schedule-item-date flex flex-col center">
            <span>${dateArr[0]}</span>
            <span>${dateArr[1] + " " + dateArr[2]}</span>
          </div>`
        } else {
          scheduleDateHtml += `
          <div class="delivery-schedule-item-date flex flex-col center">
            <span>${dateArr[0]}</span>
          </div>`
        }
      })
      return scheduleDateElement.innerHTML = scheduleDateHtml;
    }
  
    if(!count || count === 0){
      renderDateHtml(dates.slice(0, 7));
    } else{
      switch (count) {
        case 1:
          renderDateHtml(dates.slice(7, 14));
          break;
  
        case 2:
          renderDateHtml(dates.slice(14, 21));
          break;
  
        case 3:
          renderDateHtml(dates.slice(-7));
          break;
  
        default:
          return scheduleDateElement.innerHTML = "";
      }
    }
  }
  renderDate();

  const onSelectItemValue = (item) => {
    const isMaximumOrder = item.classList.contains('maximum-order');
    if(!isMaximumOrder) {
      const timeValuesSelected = document.querySelectorAll('.delivery-schedule-item-time-value.selected');
      for (timeSelected of timeValuesSelected) {
        timeSelected.classList.remove('selected');
      }
      timeSlotValidate.classList.remove('invalid');
  
      item.classList.add('selected');
      const scheduleTimeByDate = {
        id_schedule_default: Number(item.id),
        id_schedule: Number(item.id),
        date: item.title,
        time: item.innerText
      }
      timeByDate = {
        ...timeByDate,
        schedule: scheduleTimeByDate
      }
  
      window.localStorage.setItem('timeByDate', JSON.stringify(timeByDate));
  
  
      dates = dates.map((date) => ({
        ...date,
        times: date.times.map((time) => {
          const isSelected = item.title === time.schedule_date && item.innerText === time.comment;
  
          return {
            ...time,
            selected: isSelected
          }
        })
      }))
    }
  }
  
  const renderTime = (count) => {
    scheduleTimeHtml = '';
    const renderTimeHtml = (arr) => {
      arr.forEach((item) => {
        scheduleTimeHtml += `
          <div class="delivery-schedule-item-time">
          ${!item.times.length
          ? `<div class="delivery-schedule-item-time-no-delivery">{{ 'pre-checkout.no_delivery' | t }}</div>` 
          : `
          <div class="delivery-schedule-item-time-value-wrapper">
            ${item.times.map((i) => {
                return `<div class="delivery-schedule-item-time-value ${i.selected ? "selected" : ""} ${i?.is_maximum_order ? "maximum-order" : ""}" id="${i.id_schedule || i.id_schedule_default}" title="${item.value}"
                  onclick="onSelectItemValue(this)"
                  >
                    <span>${i.comment}</span>
                    <span>
                      <svg
                        class="icon icon-checkmark color-foreground-text"
                        aria-hidden="true"
                        focusable="false"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 12 9"
                        fill="none"
                      >
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.35.643a.5.5 0 01.006.707l-6.77 6.886a.5.5 0 01-.719-.006L.638 4.845a.5.5 0 11.724-.69l2.872 3.011 6.41-6.517a.5.5 0 01.707-.006h-.001z" fill="#30b90e"/>
                      </svg>
                    </span>
                  </div>`
            }).join(" ")}
          </div>`
          }
          </div>`
      })
      return scheduleTimeElement.innerHTML = scheduleTimeHtml;
    }
  
    if(!count || count === 0){
      renderTimeHtml(dates.slice(0, 7));
    } else{
      switch (count) {
        case 1:
          renderTimeHtml(dates.slice(7, 14));
          break;
  
        case 2:
          renderTimeHtml(dates.slice(14, 21));
          break;
  
        case 3:
          renderTimeHtml(dates.slice(-7));
          break;
  
        default:
          return scheduleTimeElement.innerHTML = "";
      }
    }
  }
  
  renderTime();
  
  let nextCount = 0;
  let backCount = 0;
  
  const onSchedule = (type) => {
    const iconNextElement = document.querySelector(".icon-schedule.next");
    const iconBackElement = document.querySelector(".icon-schedule.back");
    const element = document.getElementById("delivery-schedule-wrapper");
  
    if (type === 'next' && nextCount < 5) {
      nextCount++;
      backCount++;
      element.scrollLeft += 678;
      iconBackElement.style.visibility = "visible";
      renderDate(nextCount);
      renderTime(nextCount);
      const dateTimes = document.querySelectorAll('.delivery-schedule-item-date');
        for (date of dateTimes){
          date.classList.add("animation-next");
          date.classList.remove("animation-back");
        }
  
        const timeValues = document.querySelectorAll('.delivery-schedule-item-time');
        for (time of timeValues){
          time.classList.add("animation-next");
          time.classList.remove("animation-back");
        }
    } else {
      element.scrollLeft -= 678;
      backCount--;
      nextCount--;
      iconNextElement.style.visibility = "visible";
      renderDate(nextCount);
      renderTime(nextCount);
      const dateTimes = document.querySelectorAll('.delivery-schedule-item-date');
        for (date of dateTimes){
          date.classList.remove("animation-next");
          date.classList.add("animation-back");
        }
  
        const timeValues = document.querySelectorAll('.delivery-schedule-item-time');
        for (time of timeValues){
          time.classList.remove("animation-next");
          time.classList.add("animation-back");
        }
    }
  
    if (nextCount === 3) {
      iconNextElement.style.visibility = "hidden";
    }
  
    if (backCount === 0) {
      iconBackElement.style.visibility = "hidden";
    }
  }
  
  const fetchData = async (area = '', district = '') => {
    const controller = new AbortController();
    const signal = controller.signal;
    const url = 'https://msh-api.vmodev.link';
  
    try {
      const res = await fetch(`${url}/api/schedule-order?area=${area}&district=${district}&fromDate=${dates[0].value}&toDate=${dates[dates.length - 1].value}`, { signal });
      const data = await res.json();
      if(data.response){
        const scheduleDefault = data.response.scheduleDefault;
        const schedule = data.response.schedule;
        const scheduleExist = data.response.scheduleExist;
  
        dates = dates.map((date) => {
          const isScheduleExits = !!scheduleExist[date.value];
  
          return {
            ...date,
            times: (isScheduleExits ? schedule[date.value] : scheduleDefault[date.shortTitle]) || []
          }
        })
  
        renderTime(nextCount);
      }
    } catch (error) {
      console.log('error', error);
    }
  }
  
  
    areaSelect.value = timeByDate.region || areas[0].value;
    renderDistricts(districts);
    districtSelect.value = timeByDate.district || "";
  
    timeByDate = {
      ...timeByDate,
      region: timeByDate.region || areas[0].value,
      option: timeByDate.option || inputRadio[0].value
    }
    window.localStorage.setItem('timeByDate', JSON.stringify(timeByDate));
  
  fetchData(encodeURIComponent(areaSelect.value),encodeURIComponent(districtSelect.value));
  
  
  // delivery option
  if(inputRadio) {
    for (const radio of inputRadio) {
      radio.checked = (timeByDate.option || JSON.parse(timeByDateStorage)?.option) === radio.value;
      radio.addEventListener('change', (event) => {
        radio.checked = true;
    
        timeByDate = {
          ...timeByDate,
          option: event.target.value
        }
        window.localStorage.setItem('timeByDate', JSON.stringify(timeByDate));
      })
    }
  }
  
  const onCheckout = () => {
  
    if(timeByDate?.region === "") {
      areaValidate.classList.add('invalid');
      areaSelect.classList.add('invalid');
      regionElement.scrollIntoView({
        behavior: "smooth"
      })
      return;
    } else if(timeByDate?.district === ""){
      districtValidate.classList.add('invalid');
      districtSelect.classList.add('invalid');
      districtElement.scrollIntoView({
        behavior: "smooth"
      })
      return;
    } else if (timeByDate?.schedule?.time === "") {
      timeSlotValidate.classList.add('invalid');
      timeSlotElement.scrollIntoView({
        behavior: "smooth"
      })
      return;
    }
  
    return window.location.href = "/checkout"
  }






























</script>