{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

{%- unless settings.cart_type == 'drawer' -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

<cart-items class="{% if cart == empty %} is-empty{% endif %} padding-global">
  <div class="container-large-modified">
    <div class="padding-section-medium ">
      <div class="margin-bottom margin-small">
        <div class="my-basket_heading-wrapper">
          <div class="my-basket_heading">
            <h2 class="title-section text-font-small-caps">{{ 'sections.cart.title' | t }}</h2>
          </div>
        </div>
      </div>

      <div class="cart__warnings">
        <h1 class="cart__empty-text" style="display:flex; flex-direction: column;">
          <span>{{ 'sections.cart.cart_empty_description' | t }}</span>
          <span>
            {{ 'sections.cart.click' | t }}
            <a href="{{ section.settings.link }}" class="cart-here"> {{ 'sections.cart.here' | t }} </a>
            {{ 'sections.cart.to_continue_shopping' | t }}
          </span>
        </h1>
      </div>

      <div class="cart-form_block w-form box-shadow-cart-form">
        <form action="{{ routes.cart_url }}" class="cart-form_product" method="post" id="cart">
          <div id="main-cart-items" data-id="{{ section.id }}">
            <div class="js-contents">
              {%- if cart != empty -%}
                <div class="div-block-3" style="color: #2f2f2f;">
                  <div class="div-block-6-copy ">
                    <div class="my-basket_product-name-copy">
                      <div class="my-basket_column-title">{{ 'sections.cart.headings.product' | t }}</div>
                    </div>
                    <div class="my-basket_product-name-copy">
                      <div class="my-basket_column-title">{{ 'sections.cart.headings.remove' | t }}</div>
                    </div>
                    <div class="my-basket_product-name-copy">
                      <div class="my-basket_column-title">{{ 'sections.cart.headings.price' | t }}</div>
                    </div>
                    <div class="my-basket_product-name-copy">
                      <div class="my-basket_column-title">{{ 'sections.cart.headings.quantity' | t }}</div>
                    </div>
                    <div class="my-basket_product-name-copy">
                      <div class="my-basket_column-title">{{ 'sections.cart.subtotal' | t }}</div>
                    </div>
                  </div>
                  {% assign sortedItems = cart.items | sort: 'attributes.timestamp' | reverse %}

                  {%- for item in sortedItems -%}
                    <div class="div-block-4 gridspan1 items-list">
                      <div class="div-block-4-copy">
                        <div class="div-block-5-copy">
                          <div class="div-block-8">
                            <img
                              src="{{ item.image | image_url: width: 300 }}"
                              class="image"
                              alt="{{ item.image.alt | escape }}"
                              loading="lazy"
                              width="125"
                              height="125"
                            >
                          </div>
                        </div>
                        <div class="div-block-5 gridspan1 div-block-5-copy">
                          <div class="my-basket_product-name gridspan1">
                            <a
                              href="{{ item.url }}"
                              class="product-list-detail_name-link gridspan1"
                            >
                              {{- item.title -}}
                            </a>
                            <a
                              href="{{ item.url }}"
                              class="unit-text"
                            >
                              {{- item.product.metafields.custom.pack -}}
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="div-block-5 gridspan1 center">
                        <input
                          class="check-box-remove"
                          type="checkbox"
                          name="{{ item.param_name }}"
                          value="{{ item.active }}"
                          id="Remove-{{ item.index | plus: 1 }}"
                          data-index="{{ item.index | plus: 1 }}"
                          {% if item.active %}
                            checked
                          {% endif %}
                          {% if item.count == 0 and item.active == false %}
                            disabled
                          {% endif %}
                        >
                      </div>
                      <div
                        class="my-basket_product-details gridspan1 div-block-5"
                      >
                        <span class="price-custom">{{ item.final_price | money }}</span>
                      </div>
                      <div class="div-block-7 gridspan1 center div-block-5">
                        <quantity-input class="quantity cart-items relative-class">

                          {% liquid
                            assign maxStock =  item.variant.inventory_quantity
                            assign itemTitle =  item.title
                          %}
                          <input
                            class="quantity__input cart-quantity_form_input is-quantity-form-input w-input"
                            data-quantity-variant-id="{{ item.variant.id }}"
                            {% comment %} type="number" {% endcomment %}
                            {% comment %} onchange="alert(this.value)" {% endcomment %}
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');"
                            name="updates[]"
                            value="{{ item.quantity }}"
                            {% comment %} {% # theme-check-disable %} {% endcomment %}
                            data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                            min="{{ item.variant.quantity_rule.min }}"
                            {% if item.variant.quantity_rule.max != null %}
                              max="{{ item.variant.quantity_rule.max }}"
                            {% endif %}
                            {% unless item.variant.inventory_management == blank
                              or item.variant.inventory_policy == 'continue'
                            %}
                              max="{{ item.variant.inventory_quantity }}"
                            {% endunless %}
                            step="{{ item.variant.quantity_rule.increment }}"
                            {% # theme-check-enable %}
                            aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                            id="Quantity-{{ item.index | plus: 1 }}"
                            data-index="{{ item.index | plus: 1 }}"
                          >
                            <div class="popover-err-cart cart-input-{{ item.index }}" id="{{ item.index }}" >
                            <span>
                              <div>
                                <svg
                                  aria-hidden="true"
                                  focusable="false"
                                  class="icon icon-error"
                                  viewBox="0 0 13 13"
                                >
                                  <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                  <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                  <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                  <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                                </svg>
                                <span class="product-form__error-message"></span>
                              </div>
                            </span>
                            <span>All {{ maxStock }} {{ itemTitle}} are in your cart.</span>
                          </div>
                          </input>
                         
                        </quantity-input>
                      </div>
                      <div
                        class="my-basket_product-details gridspan1 div-block-5"
                      >
                        <span class="price-custom">{{ item.final_line_price | money }}</span>
                      </div>
                    </div>
                  {%- endfor -%}
                </div>
              {%- endif -%}
            </div>
          </div>

          <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
          <p
            class="visually-hidden"
            id="shopping-cart-line-item-status"
            aria-live="polite"
            aria-hidden="true"
            role="status"
          >
            {{ 'accessibility.loading' | t }}
          </p>
        </form>
      </div>
      <div class="cart-button-container">
        <div class="cart-button_wrapper">
          <a href="{{ section.settings.link }}" class="my-basket_link w-inline-block center-small-item">
            <div>
              {{ 'general.continue_shopping' | t }}
              <br>
            </div>
            <div class="icon-embed-xxsmall w-embed">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--bx"
                width="100%"
                height="100%"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path d="M19 12l-7-6v5H6v2h6v5z" fill="currentColor"></path>
              </svg>
            </div>
          </a>
        </div>
        {%- if cart != empty -%}
          <div class="cart-button_wrapper">
            <a
              class="my-basket_link_update w-inline-block center-small-item"
            >
              {% render 'icon-update' %}
              <div>{{ 'sections.cart.update_shopping_cart' | t }}</div>
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</cart-items>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "header",
      "content": "Link continue"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link continue"
    }
  ]
}
{% endschema %}

<script>
  const quantityInputs = document.querySelectorAll(".quantity.cart-items");
  const popoverAddToBasket = document.querySelectorAll(".popover-err-cart ");
  for (let i=0; i < quantityInputs.length; i++) {
    const input = quantityInputs[i].querySelector('input');
    
    input.addEventListener('change', (event) => {
      const inputMax = event.target.max;
      const inputValue = event.target.value;
      if (Number(inputValue) > Number(inputMax)) {
        popoverAddToBasket[i].classList.add('show')
         setTimeout(() => {
          popoverAddToBasket[i].classList.remove('show')
        }, 5000) 
        input.value = inputMax;
      }
    })
  }

  console.log("cart.items", {{ cart.items | json }})

</script>
